MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=ynov_ci
MYSQL_URL=mysql://root:change_me@db_mysql:3306/ynov_ci

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_URI=mongodb://admin:change_me@db_mongo:27017/blog_db?authSource=admin
MONGO_EXPRESS_URL=mongodb://admin:change_me@db_mongo:27017/?authSource=admin
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=change_me

API_PORT=8000
ADMIN_MYSQL_PORT=8080
ADMIN_MONGO_PORT=8081
